section {
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

section h1 {
    font-size: 2rem;
}

section h1, section p {
    margin-bottom: 1.2rem;
}

section p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
}